<!doctype html>
<html>  
 <head> 
 <meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">     
  <title>JScharts Test</title>  
 </head> 
 <script src='/static/chart/Chart.min.js'></script> 
 <body>   
<canvas id="myChart" width="400" height="100"></canvas>
<script type="text/javascript">  
var place=JSON.parse({{ place|tojson }})
console.log(place)
var ctx = document.getElementById("myChart").getContext("2d");
	var data = {
		/// 表现在X轴上的数据，数组形式
			 labels : place,
		 /// 第一条线
			 datasets : [
			 {label:'人数',
			 data : {{num}}
			 }
			 ]
	 }
	 /// 动画效果call
	 var options = {scaleFontStyle: "normal"}
	chart=new Chart(ctx,{
		type:'bar',
		data:data
	})
</script>  
 </body>  
</html>

